.card {
  background-color: var(--color-surface);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
