.questions-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.questions-list__link {
  text-decoration: none;
  background-color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: bold;
  color: var(--white);
  border: 1px solid var(--white);
  transition: transform 0.2s ease-in-out;
}

.questions-list__link:hover {
  transform: scale(1.1);
}

.questions__menu {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 100%;
}
